<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바인딩</title>
    <!-- (document).ready로 인해서 문서가 다 끝난후에 실행된다. 따라서 jquery와 vue.js를 같이 사용하는 경우, vue.js 스크립트를 위에 작성이 가능하다. -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(function(){
            var app = new Vue({
                el: "#app",
                data: {
                    id: "",
                    name: ""
                },
                methods: {
                login: function(){
                    $.ajax({
                        url:"http://ghkdrbqhd3.ivyro.net/login.php",
                        dataType:"json",
                        success: function(data){
                            console.log(data);
                            app.id = data.id;
                            app.name = data.name;
                            }
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id='app'>
        <form id="frm1">
            <!-- 바인딩 -->
                id <input type="text"  v-model="id" name="id" >
                pw <input type="text" name="name" v-model="name">
                <input type="button" v-on:click="login" value="로그인">
        </form>
        <div id="message"></div>
	</div>
</body>
</html>